.s-max-height {
  max-height: 800px;
  overflow-y: scroll;
}

.s-element-spacer {
  margin-left: 5px;
}

.s-image-size {
  width: 60px;
}

.s-display-msg {
  display: inline-block;
}

.s-msg-line {
  display: flex;
  align-items: baseline;
}

.s-btn-override .btn-outline-danger {
  border-color: transparent;
  margin-left: 0.2rem;
}
